<div class="login-container">
    <h2>Seja bem-vindo(a)!</h2>
    <b class="mensagem">{{mensagem}}</b>
    
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="obj.email" placeholder="Digite seu email" class="form-control">
    
    <label for="senha">Senha:</label>
    <input type="password" id="senha" [(ngModel)]="obj.senha" placeholder="Digite sua senha" class="form-control">
    
    <!-- Botões que ficam lado a lado -->
    <div class="button-group">
        <button class="btn btn-primary" (click)="fazerLogin()">Entrar</button>
        <button class="btn btn-secondary" (click)="novoCadastro()">Novo cadastro</button>
    </div>
    
    <a class="recuperar-senha" href="./esqueci">Recuperar senha</a>
</div>
