.login-container {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
}

h2 {
    text-align: center; 
    color: #004d00;
}

label {
    display: block; 
    margin: 10px 0 5px; 
}

input {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.button-group {
    display: flex; 
    justify-content: space-between; 
}

.recuperar-senha {
    display: block; /* Exibe como bloco */
    text-align: center; /* Centraliza o texto */
    margin-top: 15px; /* Espaço acima do link */
    color: #007bff; /* Azul padrão */
}
