.redefinir-senha-container {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
}

h1 {
    text-align: center; 
    color: #004d00; 
}

.label {
    display: block; 
    margin: 10px 0 5px; 
}

input {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}

button {
    width: 100%; 
    padding: 10px; 
    background-color:#f4f80a; 
    color: black; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

button:hover {
    background-color: #ec710d; /* Cor do botão ao passar o mouse */
}
