<h1 class="text-center">Cesta de Compras</h1> 

<b class="d-block text-center">{{mensagem}}</b>

<table class="table table-striped"> 
    <thead class="thead-dark"> <!-- Cabeçalho escuro -->
        <tr>
            <th>Cod.</th> 
            <th>Nome</th> 
            <th>Qtd</th> 
            <th>Valor R$</th> 
            <th>Total por Item R$</th> 
            <th>Ações</th> 
        </tr>
    </thead>

    <tbody>
        <!-- Para cada item na cesta, cria uma nova linha -->
        <tr *ngFor="let x of cesta.itens">
            <td>{{x.codigo}}</td> 
            <td>{{x.produto.nome}}</td> 
            <td>{{x.quantidade}}</td> 
            <td>R$ {{x.produto.valor}}</td> 
            <td>R$ {{x.valor}}</td> 
            <td>
                <button class="btn btn-warning" (click)="removerItem(x)">Excluir</button>
            </td>
        </tr>
        <tr>
            <!-- Deixar a palavra "Total" em negrito e a linha do total deve ocupar 4 colunas -->
            <td colspan="4" class="font-weight-bold">Total</td> 
            <td>R$ {{cesta.total}}</td> <!-- Exibe o total da cesta -->
            <td></td> 
        </tr>
    </tbody>
</table>

<!-- Botão para limpar a cesta -->
<button class="btn btn-warning" (click)="limparCesta()">Excluir Cesta</button> <!-- Botão amarelo para limpar a cesta -->
