/* Estilo do botão "remover" */
.btn-warning {
    background-color: #f4f80a;
    color: black;
    border: none;
    border-radius: 5px;
}

.btn-warning:hover {
    background-color: #ec710d;
}

/* Estilo do botão "Excluir Cesta" */
.btn-danger {
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    width: 200px; 
}

.btn-danger:hover {
    background-color: #c82333; 
}
