
h4 {
    color: #004d00;
}

input[type="text"] {
    border: 1px solid #006400; 
    padding: 10px; 
    width: 100%; 
    max-width: 400px; 
    margin-bottom: 20px; 
}

/* Mensagem para quando não houver produtos */
.produtos {
    color: #b22222; 
    margin-top: 20px; 
}

/* Container para cada item */
.item-container {
    border: 1px solid #e0e0e0; 
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px; 
}

/* Botões */
button {
    background-color: #006400; 
    color: white; 
    border: none; /* Sem borda */
    padding: 10px 15px; 
    cursor: pointer; 
    margin-right: 5px; /* Espaço entre os botões */
}

button:hover {
    background-color: #004d00; /* Altera a cor ao passar o mouse */
}
